<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <containers>
    <container>
      <register type="Zxl.Business.Interface.IUserService,Zxl.Business" mapTo="Zxl.Business.Impl.UserService,Zxl.Business">
        <lifetime type="singleton" />
      </register>
      <register type="Zxl.Business.Interface.IBusinessService,Zxl.Business" mapTo="Zxl.Business.Impl.BusinessService,Zxl.Business">
        <lifetime type="singleton" />
      </register>
      <register type="Zxl.Business.Interface.IMessageService,Zxl.Business" mapTo="Zxl.Business.Impl.MessageService,Zxl.Business">
        <lifetime type="singleton" />
      </register>
    </container>
  </containers>
</unity>