
<ion-view title="{{title}}">
    <ion-content on-swipe-left="onSwipeLeft()">
        <ion-list rj-close-back-drop>
            <ion-item class="item-avatar" ng-class="{'rj-item-top': message.isTop}" on-hold="popupMessageOpthins(message)" rj-hold-active ng-repeat="business in businesses" ng-click="openForm(business)">
                <img ng-src="{{business.pic}}">
                <span class="rj-sm-red-icon" ng-show="message.showHints"><p ng-bind="message.noReadMessages"></p></span>
                <h2 ng-bind="business.Name"></h2>
                <p class="rj-list-p" ng-bind="business.shortName"></p>
                <span class="rj-push-right" ng-bind="message.lastMessage.time"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
