
    <ion-tabs class="tabs-icon-top tabs-color-active-balanced">
        <ion-tab title="网上报建" icon-on="icon ion-ios-compose" icon-off="icon ion-ios-compose-outline" ui-sref="tab.wsbj">
            <ion-nav-view animation="slide-left-right" name="tab-wsbj"></ion-nav-view>
        </ion-tab>
        <ion-tab title="办事指南" icon-on="icon ion-ios-bolt" icon-off="icon ion-ios-bolt-outline" ui-sref="tab.assessments">
            <ion-nav-view animation="slide-left-right" name="tab-assessments"></ion-nav-view>
        </ion-tab>
        <ion-tab title="进度查询" icon-on="icon ion-ios-search" icon-off="icon ion-ios-search" ui-sref="tab.find">
            <ion-nav-view animation="slide-left-right" name="tab-find"></ion-nav-view>
        </ion-tab>
        <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/setting">
            <ion-nav-view animation="slide-left-right" name="tab-setting"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
