<div class="wu-sidebar" data-options="region:'west',split:true,border:true,title:'导航菜单'">
    <div class="easyui-accordion" data-options="border:false,fit:true">
        <div title="项目办理" data-options="iconCls:'icon-application-cascade'" style="padding:5px;">
            <ul class="easyui-tree wu-side-tree">
                <li iconcls="icon-chart-organisation"><a href="javascript:void(0)" data-icon="icon-chart-organisation" data-link="Test/Workbench/Index?Nid=N000001" iframe="0">在办箱</a></li>
                <li iconcls="icon-users"><a href="javascript:void(0)" data-icon="icon-users" data-link="Test/Workbench/Index?Nid=N000002" iframe="0">已办箱</a></li>
                <li iconcls="icon-user-group"><a href="javascript:void(0)" data-icon="icon-user-group" data-link="Test/Workbench/Index?Nid=N000003" iframe="0">领取箱</a></li>
            </ul>
        </div>
        <div title="项目查询" data-options="iconCls:'icon-application-form-edit'" style="padding:5px;">
            <ul class="easyui-tree wu-side-tree">
                <li iconcls="icon-chart-organisation"><a href="javascript:void(0)" data-icon="icon-chart-organisation" data-link="Test/Workbench/Index?Nid=N000004" iframe="0">在办查询</a></li>
                <li iconcls="icon-users"><a href="javascript:void(0)" data-icon="icon-users" data-link="Test/Workbench/Index?Nid=N000005" iframe="0">已办查询</a></li>
                <li iconcls="icon-user-group"><a href="javascript:void(0)" data-icon="icon-user-group" data-link="Test/Workbench/Index?Nid=N000006" iframe="0">全局查询</a></li>
            </ul>
        </div>
    </div>
</div>
