

<div class="easyui-layout" data-options="fit:true">
    <!-- Begin of toolbar -->
    <div id ="toolbarProcessing">
        <div class="wu-toolbar-button">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" onclick="openAdd()" plain="true">接件</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="openEdit()" plain="true">保存</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-redo" onclick="remove()" plain="true">发送</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-back" onclick="cancel()" plain="true">回退</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-print" onclick="reload()" plain="true">打印</a>
        </div>
    </div>
    <!-- End of toolbar -->
    <table id="tbProcessing" class="easyui-datagrid" toolbar="#toolbarProcessing"></table>
</div>
<!-- Begin of easyui-dialog -->
<!-- End of easyui-dialog -->
<script type="text/javascript">
    function pagerFilter(data) {
        if (typeof data.length == 'number' && typeof data.splice == 'function') {// is array                
            data = {
                total: data.length,
                rows: data
            }
        }
        var dg = $(this);
        var opts = dg.datagrid('options');
        var pager = dg.datagrid('getPager');
        pager.pagination({
            onSelectPage: function (pageNum, pageSize) {
                opts.pageNumber = pageNum;
                opts.pageSize = pageSize;
                pager.pagination('refresh', { pageNumber: pageNum, pageSize: pageSize });
                dg.datagrid('loadData', data);
            }
        });
        if (!data.originalRows) {
            data.originalRows = (data.rows);
        }
        var start = (opts.pageNumber - 1) * parseInt(opts.pageSize);
        var end = start + parseInt(opts.pageSize);
        data.rows = (data.originalRows.slice(start, end));
        return data;
    }

    $(function () {
        var t = $("#tbProcessing").treegrid({
            url: "@Url.Action("Projects", "Workbench")",
            loadFilter: pagerFilter,
            pageSize: 20,
            pagination: true,
            idField: 'ID',
            treeField: 'PROJECTNO',
            fit: true,
            columns: [[
                { field: 'PROJECTNO', title: '项目编号', width: 200, sortable: true },
                { field: 'PROJECTNAME', title: '项目名称', width: 200, sortable: true },
                { field: 'BUILDADRESS', title: '建设地址', width: 200, sortable: true },
                { field: 'CREATETIME', title: '创建时间', width: 140 },
                { field: 'ENDTIME', title: '结束时间', width: 140, sortable: true }
            ]],
            onDblClickRow: function (field, row) {
                @{
                    var s = "";
                }
                @s=field.ID;

                var url = '@Url.Action("Project", "Business", new { ProjectId= s})';
                addTab(field.PROJECTNAME, 'Business/Project?ProjectId=' + field.ID, 'icon-flag-pink', false);
            },
            offset: { width: -250, height: -150 }
        });
    });
</script>