@using Zxl.Business.Model;
@model List<SYS_MESSAGE>

<div id="portal" class="easyui-portal" data-options="fit: true, border: false" style="overflow: hidden;">
    <div style="width: 30%;">
        <div data-options="title: '案件办理统计', height: 350, collapsible: true, closable: true" style="overflow:hidden;">
            <div id="container1" style="height: 350px"></div>
        </div>
        <div data-options="title: '一书三证面积统计', height: 350, collapsible: true, closable: true" style="overflow:hidden;">
            <div id="container2" style="height: 350px"></div>
        </div>
    </div>
    <div style="width: 30%;">
        <div data-options="title: '在办统计', height: 350, collapsible: true, closable: true" style="overflow:hidden;">
            <div id="container3" style="height: 350px"></div>
        </div>
        <div data-options="title: '办结统计', height: 350, collapsible: true, closable: true" style="overflow:hidden;">
            <div id="container4" style="height: 350px"></div>
        </div>
    </div>
    <div style="width: 30%;">
        <div data-options="title: '建筑统计', height: 350, closable: true, collapsible: true " style="overflow:hidden;">
            <div id="container5" style="height: 350px"></div>
        </div>
        <div data-options="title: '市政统计', height: 350, collapsible: true, closable: true" style="overflow:hidden;">
            <div id="container6" style="height: 350px"></div>
        </div>
    </div>
</div>

<div id="msgWindow" class="easyui-window" toolbar="#msgToolbar"
    data-options="iconCls:'icon-comments', resizable:false, maximizable:false, minimizable:false, collapsible:false, closed:true">
    @foreach (SYS_MESSAGE msg in Model)
    {
        <div style="border-bottom:dotted 1px gray;text-indent:2em;">
            <div>
                <img src="~/Images/icons/user_b.png" />
                @msg.SENDUSERNAME
            </div>
            <div style="text-indent:4em;">
                <table>
                    <tr>
                        <td width="80%"><span>@msg.CONTENT</span></td>
                        <td><span>@msg.SENDDATE.ToShortDateString()</span></td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>

<div id="msgToolbar" style="display:none;">
    <table cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td>
                <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true">全部设为已读</a>
            </td>
        </tr>
    </table>
</div>

<script>
    setTimeout(function () {
        var bWidth = document.body.clientWidth;
        var bHeight = document.body.clientHeight;

        $("#msgWindow").dialog({
            width: 400,
            height: 250,
            top: bHeight - 250,
            left: bWidth - 400,
            title: '消息',
            closed: false,
            cache: false
            //href: 'get_content.php'
        });
        $("#msgToolbar").css("display", "");
    }, 2000);

    $(function () {
        $('#container1').highcharts({
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: '案件办理统计'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '业务类型',
                data: [
                    ['建筑选址', 45.0],
                    ['建筑用地', 26.8],
                    {
                        name: '建筑核实',
                        y: 12.8,
                        sliced: true,
                        selected: true
                    },
                    ['建筑工程证', 8.5],
                    ['市政选址', 6.2],
                    ['市政用地', 0.7]
                ]
            }]
        });
    });
    $(function () {
        $('#container2').highcharts({
            chart: {
                type: 'column',
                options3d: {
                    enabled: true,
                    alpha: 15,
                    beta: 15,
                    viewDistance: 25,
                    depth: 40
                },
                marginTop: 80,
                marginRight: 40
            },
            title: {
                text: '一书三证面积统计'
            },
            xAxis: {
                categories: ['建筑选址', '建筑用地', '建筑工程证', '市政选址', '市政用地']
            },
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: '建筑面积'
                }
            },
            tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y} / {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    depth: 40
                }
            },
            series: [{
                name: '一季度',
                data: [5, 3, 4, 7, 2],
                stack: 'male'
            }, {
                name: '二季度',
                data: [3, 4, 4, 2, 5],
                stack: 'male'
            }, {
                name: '三季度',
                data: [2, 5, 6, 2, 1],
                stack: 'female'
            }, {
                name: '四季度',
                data: [3, 0, 4, 4, 3],
                stack: 'female'
            }]
        });
    });
    $(function () {
        $('#container3').highcharts({
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45
                }
            },
            title: {
                text: '在办统计'
            },
            subtitle: {
                text: '本年度当前办件数量'
            },
            plotOptions: {
                pie: {
                    innerSize: 100,
                    depth: 45
                }
            },
            series: [{
                name: '办件数量',
                data: [
                    ['建筑选址', 8],
                    ['建筑用地', 3],
                    ['建筑工程证', 1],
                    ['建筑核实', 6],
                    ['市政选址', 8],
                    ['市政用地', 4],
                    ['市政工程证', 4],
                    ['市政核实', 1],
                    ['建筑方案审查', 1]
                ]
            }]
        });
    })

    /**
* Highcharts 在 4.2.0 开始已经不依赖 jQuery 了，直接用其构造函数既可创建图表
**/
    window.onload = function () {
        var chart = new Highcharts.Chart('container4', {
            title: {
                text: '办结统计',
                x: -20
            },
            subtitle: {
                text: '按月统计',
                x: -20
            },
            xAxis: {
                categories: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']
            },
            yAxis: {
                title: {
                    text: '办件数量 (件)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '件'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: '建筑选址',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }, {
                name: '建筑用地',
                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
            }, {
                name: '市政选址',
                data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
            }, {
                name: '市政用地',
                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
            }]
        });
    };

    $(function () {
        $('#container5').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '建筑统计'
            },
            subtitle: {
                text: '按月统计'
            },
            xAxis: {
                categories: [
                    '一月',
                    '二月',
                    '三月',
                    '四月',
                    '五月',
                    '六月',
                    '七月',
                    '八月',
                    '九月',
                    '十月',
                    '十一月',
                    '十二月'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '办件数(件)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: '建筑选址',
                data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
            }, {
                name: '建筑用地',
                data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]
            }, {
                name: '建筑工程证',
                data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]
            }, {
                name: '建筑核实',
                data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]
            }]
        });
    });
    $(function () {
        $('#container6').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '市政统计'
            },
            tooltip: {
                headerFormat: '{series.name}<br>',
                pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '办件数量',
                data: [
                    ['市政选址', 45.0],
                    ['市政用地', 26.8],
                    {
                        name: '市政核实',
                        y: 12.8,
                        sliced: true,
                        selected: true
                    },
                    ['市政工程证', 8.5],
                    ['市政规划条件', 6.2],
                    ['市政方案审查', 0.7]
                ]
            }]
        });
    });
</script>
