<div id="portal" class="easyui-portal" data-options="fit: true, border: false" style="overflow-x: hidden;">
    <div style="width: 30%;">
        <div data-options="title: '案件办理统计', height: 300, collapsible: true, closable: true">

        </div>
        <div data-options="title: '一书三证面积统计', height: 300, collapsible: true, closable: true">

        </div>
    </div>
    <div style="width: 30%;">
        <div data-options="title: '在办统计', height: 300, collapsible: true, closable: true">

        </div>
        <div data-options="title: '办结统计', height: 300, collapsible: true, closable: true" >

        </div>
    </div>
    <div style="width: 30%;">
        <div data-options="title: '建筑统计', height: 300, closable: true, collapsible: true ">

        </div>
        <div data-options="title: '市政统计', height: 300, collapsible: true, closable: true">

        </div>
    </div>
</div>

