<ion-view title="{{title}}">
    <ion-content>
        <a class="item item-avatar" href="#">
            <img src="img/user.png">
            <h2>都匀市第一建设集团</h2>
            <p>zs</p>
        </a>
        <ion-list>
            <span class="item item-divider">
                登记信息
            </span>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-person-outline"></i>
                联系人
                <span class="item-note">张三</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-telephone-outline"></i>
                联系电话
                <span class="item-note">134848324435</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-email-outline"></i>
                邮箱
                <span class="item-note">asfds@163.com</span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-card"></i>
                身份证号
                <span class="item-note">
                    XXXXXXXXXXXXXXXXXXXXXXXX
                </span>
            </a>

            <span class="item item-divider">
                报件信息
            </span>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-compose-outline"></i>
                报件数
                <span class="badge badge-assertive">0</span>
            </a>

            <button class="button button-full button-dark">退出登陆</button>
        </ion-list>
    </ion-content>
</ion-view>
