
<ion-view title="{{title}}">
    <ion-content on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
        <ion-list class="rj-list">
            <ion-item class="rj-item">
                <div class="rj-contacts-pic rj-orange-bgc">
                    <i class="ion-person-add"></i>
                </div>
                <h2>我有疑问</h2>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="rj-contacts-item">
                <div class="item item-divider">建设项目选址意见书核发</div>
                <ion-list class="rj-list">
                    <ion-item class="rj-item">
                        <div class="rj-contacts-pic">
                            <ion-icon name="ios-book-outline" />
                            <img src="img/assessment3.png">
                        </div>
                        <h2>办事指南</h2>
                    </ion-item>
                    <ion-item class="rj-item">
                        <div class="rj-contacts-pic">
                            <img src="img/assessment3.png">
                        </div>
                        <h2>办理流程</h2>
                    </ion-item>
                    <ion-item class="rj-item">
                        <div class="rj-contacts-pic">
                            <img src="img/assessment3.png">
                        </div>
                        <h2>申请材料</h2>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item class="rj-contacts-item">
                <div class="item item-divider">建设用地规划许可证核发</div>
                <ion-list class="rj-list">
                    <ion-item class="rj-item">
                        <div class="rj-contacts-pic">
                            <img src="img/assessment3.png">
                        </div>
                        <h2>办事指南</h2>
                    </ion-item>
                    <ion-item class="rj-item">
                        <div class="rj-contacts-pic">
                            <img src="img/assessment3.png">
                        </div>
                        <h2>办理流程</h2>
                    </ion-item>
                    <ion-item class="rj-item">
                        <div class="rj-contacts-pic">
                            <img src="img/assessment3.png">
                        </div>
                        <h2>申请材料</h2>
                    </ion-item>
                </ion-list>
            </ion-item>

        </ion-list>
        </ion-content>
        <!--<div class="rj-contacts-right-bar" rj-position-middle on-drag="contacts_right_bar_swipe($event)">
            <div>&uarr;</div>
            <div>☆</div>
            <div>A</div>
            <div>B</div>
            <div>C</div>
            <div>D</div>
            <div>E</div>
            <div>F</div>
            <div>G</div>
            <div>H</div>
            <div>I</div>
            <div>J</div>
            <div>K</div>
            <div>L</div>
            <div>M</div>
            <div>N</div>
            <div>O</div>
            <div>P</div>
            <div>Q</div>
            <div>R</div>
            <div>S</div>
            <div>T</div>
            <div>U</div>
            <div>V</div>
            <div>W</div>
            <div>X</div>
            <div>Y</div>
            <div>Z</div>
            <div>#</div>
        </div>
        <div class="rj-contacts-middle-bar">
            A
        </div>-->

</ion-view>
